<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="tcc-web-trade"/>

    <dubbo:registry protocol="zookeeper" address="${zookeeper.cluster.ip}:${zookeeper.cluster.port}"
                    session="${zookeeper.session.timeout}" timeout="${zookeeper.connect.timeout}" register="false"/>

    <dubbo:reference id="placeOrderService" interface="org.rhine.order.api.PlaceOrderService" check="false" timeout="600000"/>

</beans>