<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
  	   http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <util:properties id="suffix" location="classpath:jdbc-domain-suffix.properties"/>

    <bean class="org.mengyun.tcctransaction.server.dao.DaoRepository"/>

    <bean id="orderDao" class="org.mengyun.tcctransaction.server.dao.JdbcTransactionDao">
        <property name="dataSource" ref="tccDataSource"/>
        <property name="tableSuffix" value="#{suffix['ORDER']}"/>
        <property name="domain" value="ORDER"/>
    </bean>

    <bean id="capital" class="org.mengyun.tcctransaction.server.dao.JdbcTransactionDao">
        <property name="dataSource" ref="tccDataSource"/>
        <property name="tableSuffix" value="#{suffix['CAPITAL']}"/>
        <property name="domain" value="CAPITAL"/>
    </bean>

    <bean id="redpacket" class="org.mengyun.tcctransaction.server.dao.JdbcTransactionDao">
        <property name="dataSource" ref="tccDataSource"/>
        <property name="tableSuffix" value="#{suffix['REDPACKET']}"/>
        <property name="domain" value="REDPACKET"/>
    </bean>

    <import resource="classpath:spring/spring-datasource.xml"/>
</beans>